body {
  background-color: #070c0d;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

h1 {
  color: #4d49bf;
  font-size: 40px;
}

p {
  color: #4d49bf;
  text-align: justify;
}

li {
  color: #4d49bf;
  font-size: 20px;
}
